<div class="label-container" id="chosenOptionsLabels">
</div>

<div class="send-button-container" id="sendDataContainer">
    <input class="send-button" type="button" value="Load Chart" onclick="sendOptions()">
</div>