<div class="search-container">
    <div class="search-container-item">
        <input type="text" id="<%= category + 'Input' %>">
    </div>
    <div class="search-container-item">
        <input type="button" onclick="selectedExplicit('<%= category%>','<%= category + 'Input'%>')" value="Add/Remove Value"/>
    </div>
</div>