<nav>
    <div class="container-navbar">
        <img src="images/logo.png" alt="AVi logo">
        <div class="element-navbar"><a href="/">Home</a></div>
        <div class="element-navbar"><a href="view_data.html">Visualize Data</a></div>
        <div class="element-navbar"><a href="about.html">About</a></div>
        <% if(user){%>
            <div class="element-navbar"><a href="/history">My History</a></div>
            <div class="element-login-navbar"><a href="/logout">Logout (<%= user.username%>)</a></div>
        <%} else{%>
            <div class="element-login-navbar">
                    <a href="/login">Login</a>
                    <span>/</span>
                    <a href="/register">Register</a>
            </div>
        <%}%>
    </div>
</nav>