<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page AVI</title>
    <link rel="stylesheet" href="../stylesheet/loginpage.css">
    <link rel="stylesheet" href="../stylesheet/admin/admin_options.css">


</head>
<body class="background">
<div class="container_butoane">

    <button onclick="redirectAccid()" style="position: relative;"class="btn" id="accid_man">Accidents Management</button>
    <button onclick="redirectInternal()"  style="position: relative; "class="btn" id="admin_man">Admins Management</button>
    <button onclick="redirectPosts()" style="position: relative; "class="btn" id="mainpage_man">MainPage Management</button>

</div>
<script src="../../javascript/admin/admin_options.js"></script>
</body>
</html>
