<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page AVI</title>
    <link rel="stylesheet" href="../stylesheet/loginpage.css">
    <link rel="stylesheet" href="../stylesheet/admin/admin_posts.css">
</head>
<body class="background">

<div class="principal">
    <h1 class="writing">Start Page Posts</h1>

    <textarea class="text" id="text"  ></textarea>
    <button onclick="myFunction()"class="dropbtn buton button_aspect">Post</button>

</div>
<script src="../javascript/admin/admin_posts.js"></script>
</body>
</html>
