<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../stylesheet/admin/admin_management.css">
    <link rel="stylesheet" href="../stylesheet/loginpage.css">
</head>
<body class="background">




<div class="principal">

    <div class="dropdown"   >
        <button class="dropbtn buton">Choose operation</button>

        <div  class="dropdown-content dptdown">
            <input type="checkbox" id="creare">Create admin</input>
            <input type="checkbox" id="stergere">Delete admin</input>
        </div>


        <div >

            <p class="nume">Name:</p>
            <input class="text_input input_nume" type="text"  >
            <p class="parola">Password:</p>
            <input class="text_input input_parola" type="password"style=" ">

        </div>
        <button class="btn" id="Continua">Continue</button>
    </div>
</div>

</body>
<script src="../javascript/admin/admin_management.js"></script>
<script>
</script>
</html>