<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page AVI</title>
    <link rel="stylesheet" href="../stylesheet/loginpage.css">
    <link rel="stylesheet" href="../stylesheet/admin/adminpage.css">

</head>
<body class="background">

<h1 class="avi">avi</h1>
<h3 class="avi-admin">admin</h3>

<div class="chenar patrat">

    <div class="logare in_chenar">Login</div>
    <div class="credentiale in_chenar"  >
        Username:
        <input class="text_input" type="text"  >
    </div>
    <div class="credentiale " style="top:10px" >
        Password:
        <input class="text_input" type="password">
    </div>

    <button class="btn" id="Continua">Continue</button>

</div>

</body>
<script src="../javascript/admin/adminpage.js"></script>

</html>
