<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page AVI</title>
    <link rel="stylesheet" href="../stylesheet/loginpage.css">

</head>
<body class="background">

<h1 style="color:antiquewhite; position:absolute;
    left:50%;
    top:10%;
    transform: translate(-50%,-50%);
    font-size: 130px;
">avi</h1>
<h3 style="color:antiquewhite; position:relative;
    left:50%;
    top:20px;
    transform: translate(-50%,-50%);
    font-size: 30px;
">admin</h3>


<div class="chenar patrat">

    <div class="logare in_chenar">Login</div>
    <div class="credentiale in_chenar" style="align-self: baseline;" >
        Name:
        <input class="text_input" type="text"  >
    </div>
    <div class="credentiale " style="align-self: baseline;top:10px" >
        Password:
        <input class="text_input" type="password">
    </div>

    <button class="btn" id="Continua">Continue</button>


</div>


</body>

<script>

    var i;
    var credentials=[""];
    var nr=0;

    ///actionare buton pt generare statistici
    var btn = document.getElementById("Continua");
    btn.addEventListener("click", finalcredentials);

    async function finalcredentials() {

        console.log("astrid");
        credentials = [""];

        var nr = 0;
        var all_input = document.getElementsByClassName("text_input");

        for (i = 0; i < all_input.length; i++) {
            if (all_input[i].value != "") {
                nr++;
                credentials.push(all_input[i].value);
                console.log(all_input[i].value);
            } else console.log("null");


        }

        if (nr !== 2) alert("Nu ati introdus toate datele.\n Incercati din nou.");
        else {
            console.log("cred:");
            let ok = await valid();
            console.log(ok);
            if (ok) {
                console.log("am intrat");
                location.replace("http://localhost:3000/admin/manager");
                console.log("redirectam acum");
            } else {
                console.log("here");
                location.replace("http://localhost:3000/admin");
            }
        }
    }

    async function valid() {

        /*  var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
              //    document.getElementById("demo").innerHTML = this.responseText;
                  ok=1;
              }
          };
          xhttp.open("GET", "ajax_info.txt", true);
          xhttp.send();*/
        console.log("credentials0:"+ credentials[1]);
        console.log("credentials1:"+ credentials[2]);
        /*let boddy = JSON.stringify({
            "username": credentials[1],
            "password": credentials[2]});
        console.log(boddy);
        ok = await fetch("http://localhost:4500/login", {method : "POST",
            headers:{
                "Content-Type":"application/json"
            },
            body : boddy});*/
     //  var bdul="{username:ada"

        /*ok = await fetch("http://localhost:4500/login", {method : "POST",

            body :

                {
                "username": credentials[1],
                "password": credentials[2]}
        });*/

        var myHeaders = new Headers();
       // myHeaders.append("Content-Type", "application/json");

        var raw = JSON.stringify({ "username": credentials[1],
            "password": credentials[2]});

        var requestOptions = {
            method: 'POST',
         //   headers: myHeaders,
            body: raw,
            redirect: 'follow'
        };

        var ok = await fetch("http://localhost:3000/api/admin/login", requestOptions)
            .catch(error => console.log('error', error));

        console.log(ok.ok);
        //console.log(ok.success);
        return ok.ok;
    }


/*
    function redirectOptions() {
        console.log("cred:");
        location.replace("http://localhost:3000/admin/manager");

    }*/





</script>


</html>
