<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accident Management page AVI</title>

    <link rel="stylesheet" type="text/css" href="../../stylesheet/TABEL_2.0.css">
    <link rel="stylesheet" type="text/css" href="../../stylesheet/loginpage.css">
    <link rel="stylesheet" type="text/css" href="../../stylesheet/admin/admin_accid.css">



</head>
<body class="background">

<div class="zero">

    <div class="flex-container panel-body principal ">
        <table id="tabelul">
            <thead id="headul">
            <tr id="rowul" ></tr>
            </thead>
            <tbody id="bodyul">
            </tbody>
        </table>
    </div>

    <button onclick="inapoi()"  class="aspect_butoane"><</button>
    <button onclick="inainte()" class="aspect_butoane">></button>
</div>
</body>
<script src="../../javascript/admin/admin_accid.js"></script>

</html>
