.container_butoane{/*un container*/

    /*marime*/
    width: 70vw;
    height: 70vw;


    /*pozitionare*/
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    z-index:1;

    /*aspect*/
    border-radius:5px;
}


.btn{
    /*pozitionare*/
    position:absolute;
    top:50%;
    left: 30%;
    transform: translate(-50%,-50%);

    /*aspect*/
    background-color: #fff2a8;
    border-radius: 5px;
    height:100px;
    width:200px;
    border-bottom: solid #6495ED 2px;
    border-right: solid #6495ED 1px;
    margin: 20px;

    /*text*/
    font-family:American Typewriter, serif;
    font-size: large;
    color:#262635;

}