.zero{

    height:700px;width:1400px; position:absolute;
    left:50%;
    top:40%;
    transform: translate(-50%,-50%);
    background-color: #282828;
    opacity: 0.9;
    border-radius: 5px;

}

.principal{
    height:550px;width:1250px; position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color:lightyellow;
    border-radius: 5px;

}


.aspect_butoane{

    position: relative;
    left:70%;
    top:90%;
    color: floralwhite;
    font-size: xx-large;
    background-color:#202020;
    width:75px;
    height:55px;
    opacity:0.95;
    border-radius:5px;
}