<div class="send-button-container" id="sendDataContainer">
    <select id="chartTypeSelect" class="select-representation" onchange="chartTypeChanged()">
        <option  value="Line Chart">Line Chart</option>
        <option  value="Bar Chart">Bar Chart</option>
        <option  value="Calendar Chart">Calendar Chart</option>
        <option  value="Pie Chart">Pie Chart</option>
        <option  value="Map Chart">Map Chart</option>
    </select>
    <input class="send-button" id="sendDataButton" type="button" value="Load Chart" onclick="drawChart()">

    <input class="export-button" type="button" id="exportCsv" value="CSV" onclick="exportCsv()" disabled="true">
    <input class="export-button" type="button" id="exportPng" value="PNG" onclick="exportPng()" disabled="true">
    <input class="export-button" type="button" id="exportSvg" value="SVG" onclick="exportSvg()" disabled="true">
</div>
<div id="chartLineOptionsContainer" class="chart-specific-options" >
    <input class="reset-button" type="button" id="resetButton" value="Reset" onclick="resetAllLines()">
    <input class="add-line-button" type="button" id="addLineButton" value="Add Line" onclick="addLine()">
    <select id="lineSelect" class="select-representation" onchange="lineChanged()">
        <option  value="0">Line 1</option>
    </select>
</div>
<div class="chart-specific-options" id="chartSpecificOptions">

</div>

<div class="label-container" id="chosenOptionsLabels">

</div>

<script>
    document.getElementById('chartSpecificOptions').innerHTML = getLineChartSpecificOptionsAsHtml();
    drawChart();
</script>