<div class="footer">
    <div class="element-footer">AVi - US Accidents Smart Visualizer</div>
    <div class="element-footer">Faculty of Computer Science, Alexandru Ioan Cuza University of Iasi</div>
    <div class="element-footer">Ciripescu Teodor, Mocanu Ada-Astrid | 2020</div>
</div>