<div class="article-container">
<h1>About our project</h1>

    <article class="article-container-item">
        <header>
            <h2>Our Team</h2>
        </header>
        <section>
            <p>Ciripescu Teodor and Mocanu Ada-Astrid.</p>
        </section>
    </article>
</div>

