<div class="article-container">
<h1>About our project</h1>

    <article class="article-container-item">
        <header>
            <h2>Our Team</h2>
        </header>
        <section>
            <p>Ciripescu Teodor and Mocanu Ada-Astrid.</p>
        </section>
    </article>
    <article class="article-container-item">
        <header>
            <h2>Our Project</h2>
        </header>
        <section>
            <p>You can view the project's documentation <a href="documentation/documentation.html">here</a> and read the user guide <a href="documentation/userguide.html">here</a>.</p>
            <p><a href="https://github.com/teodorciripescu/web-fii">This</a> is out GitHub repository!</p>
            <p>Also, you can watch a video presentation of the project <a href="https://youtu.be/YvQwnfEp7_s">here</a>.</p>
        </section>
    </article>
</div>

