
<div class="article-container">
<h1>Accident Description</h1>
<% for (let key of Object.keys(accident)) {%>
    <article class="article-container-item">
        <header>
            <h2><%= key%></h2>
        </header>
        <section>
            <p><%= accident[key]%></p>
        </section>
    </article>
<% }%>
</div>

