

.background{
    background:url("../images/20.2.blur2.jpg") no-repeat fixed ;
    display:flex;

    background-size: cover;
    z-index:-1;


}

@media screen and (max-device-width: 1300px){
    .background{
        background:url("../images/20.2.blur2.jpg") no-repeat fixed ;
        align-items: stretch;
        max-width:100%;
    }
    .chenar{

        height: 1000px;
        width: 1050px;

    }
}

@media screen and (max-width: 450px){
    .credentiale{font-size: large;

    }
    .register{
        font-size: larger;
    }
}
.chenar{
    /*un container*/

    /*marime*/
    width: 70vw;
    height: 70vh;


    /*pozitionare*/
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    z-index:1;

    /*aspect*/
    border-radius:5px;
    background-color: #fff2d8;

    /* flex*/

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    align-content: end;

}
.register{
    /*aspect*/
    color:#262645;

    /*pozitionare*/
    position:relative;
    top:5%;
    left:50%;
    transform: translate(-50%,-50%);

    /*text*/
    font-size: xx-large;
    font-family:American Typewriter, serif;

}
.credentiale{
    /*text*/
    font-size:large;
    font-family:American Typewriter, serif;

    /*aspect*/
    color:#262635;

    /*pozitionare*/
    position:relative;
    left:50%;
    transform: translate(-50%,-50%);

    /*altele*/
    padding-bottom:5px;



}
.in_chenar{

    top:2rem;

}

.patrat{

    /*pozitionare*/
    border-bottom: solid #6495ED 3px;
    border-right: solid #6495ED 2px;
    opacity: 0.9;


    /*marime*/

    max-height: 450px;
    max-width: 450px;
    min-width: 370px;
    min-height: 370px;


    /*aspect*/
    border-radius:5px;

}

.btn{

    /*aspect*/
    background-color: #fff2a8;
    border-radius: 5px;
    height:40px;
    width:90px;

    /*text*/
    font-family:American Typewriter, serif;
    color:#262635;
    border-bottom: solid #6495ED 2px;
    border-right: solid #6495ED 1px;

    /*flex*/
    align-self: flex-end;

    /*pozitionare*/
    margin-top: 40px;
    margin-right: 20px;

}
.text_input{
    /*pozitionare*/
    position:relative;
    left:50%;
    transform: translate(-50%,-50%);
    /*aspect*/
    width:22em;
}


