body{
    margin:0;
    font-family: sans-serif;
}

@media(min-width: 800px){
    html, body, .flex {
        height: 100%;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .flex {
        display: flex;
        flex-direction: row;
    }
    table{
        width: 80vw;
    }
}
@media(max-width: 800px){
    .wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        height: 100%;
    }
    .flex {
        display: flex;
        flex-direction: column;
    }
    table{
        width: 100%;
    }
}
.wrapper-item{
    flex: 1
}
.flex-element-choicebar {
    flex: 2;
    /*max-height: 100vh;*/
    /*overflow: auto;*/
    /*border-style: solid;*/
    /*border-color: red;*/
}
.flex-element-display {
    flex:8;
    padding: 15px;
    /*border-style: solid;*/
    /*border-color: green;*/
}

