<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../stylesheet/choicebar.css">


</head>
<body>


<div class="sidenav">
    <button id="getStatistics" class="buton-cautare">Get statistics   </button>

    <button class="dropdown-btn">Weather conditions
        <i class="fa fa-caret-down"></i>    </button>

    <div class="dropdown-container">

        <label class="container">
            <div class="choice_parameter">Temperature</div>

            <input class="choice_input" type="checkbox" >
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <div class="choice_parameter">Wind Chill</div>
            <input class="choice_input" type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <div class="choice_parameter"> Humidity</div>
            <input class="choice_input" type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <div class="choice_parameter"> Pressure</div>
            <input class="choice_input" type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <div class="choice_parameter">Visibility</div>
            <input class="choice_input" type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <div class="choice_parameter">Wind Direction</div>
            <input class="choice_input" type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <div class="choice_parameter">Wind Speed</div>
            <input class="choice_input" type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input class="choice_input" type="checkbox">
            <div class="choice_parameter">Precipitation</div>
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <div class="choice_parameter">Weather Condition</div>
            <input class="choice_input" type="checkbox">
            <span class="checkmark"></span>
        </label>
    </div>

    <button class="dropdown-btn">Location
        <i class="fa fa-caret-down"></i>
    </button>
     <div class="dropdown-container">
        <label class="container"> <div class="choice_parameter">Start Lat</div>
            <input class="choice_input" type="checkbox"   >
            <span class="checkmark"></span>
        </label>
        <label class="container"> <div class="choice_parameter">Start Lng</div>
            <input class="choice_input" type="checkbox" >
            <span class="checkmark"></span>
        </label>
        <label class="container"> <div class="choice_parameter">End Lat</div>
            <input class="choice_input" type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="container"> <div class="choice_parameter">End Lng</div>
            <input class="choice_input" type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="container"> <div class="choice_parameter">Distance</div>
            <input class="choice_input" type="checkbox"   >
            <span class="checkmark"></span>
        </label>
        <label class="container"> <div class="choice_parameter">Number</div>
            <input class="choice_input" type="checkbox" >
            <span class="checkmark"></span>
        </label>
        <label class="container"> <div class="choice_parameter">Street</div>
            <input class="choice_input" type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="container"> <div class="choice_parameter"> Side</div>
            <input class="choice_input" type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="container"> <div class="choice_parameter"> City</div>
            <input class="choice_input" type="checkbox"   >
            <span class="checkmark"></span>
        </label>
        <label class="container"> <div class="choice_parameter">Country</div>
            <input class="choice_input" type="checkbox" >
            <span class="checkmark"></span>
        </label>
        <label class="container"> <div class="choice_parameter">State</div>
            <input class="choice_input" type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="container"> <div class="choice_parameter">Zipcode</div>
            <input class="choice_input" type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="container"> <div class="choice_parameter">Country</div>
            <input class="choice_input" type="checkbox"   >
            <span class="checkmark"></span>
        </label>
        <label class="container"> <div class="choice_parameter"> Airport Code</div>
            <input class="choice_input" type="checkbox" >
            <span class="checkmark"></span>
        </label>

    </div>

    <button class="dropdown-btn">Time Parameters
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <label class="container"> <div class="choice_parameter">Start Time</div>
            <input class="choice_input" type="checkbox"   >
            <span class="checkmark"></span>
        </label>
        <label class="container"> <div class="choice_parameter">End Time</div>
            <input class="choice_input" type="checkbox" >
            <span class="checkmark"></span>
        </label>
        <label class="container"> <div class="choice_parameter">Timezone</div>
            <input class="choice_input" type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="container"> <div class="choice_parameter"> Sunrise Sunset</div>
            <input class="choice_input" type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="container"> <div class="choice_parameter">Civil Twilight</div>
            <input class="choice_input" type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="container"> <div class="choice_parameter">Nautical Twilight</div>
            <input class="choice_input" type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="container"> <div class="choice_parameter">Astronomical Twilight</div>
            <input class="choice_input" type="checkbox">
            <span class="checkmark"></span>
        </label>

    </div>

    <button class="dropdown-btn">Driving Parameters
        <i class="fa fa-caret-down"></i>
    </button>

    <div class="dropdown-container">
        <label class="container"> <div class="choice_parameter">Amenity</div>
            <input class="choice_input" type="checkbox"   >
            <span class="checkmark"></span>
        </label>
        <label class="container"> <div class="choice_parameter">Bump</div>
            <input class="choice_input" type="checkbox" >
            <span class="checkmark"></span>
        </label>
        <label class="container"> <div class="choice_parameter">Crossing</div>
            <input class="choice_input" type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="container"> <div class="choice_parameter">Give_way</div>
            <input class="choice_input" type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="container"> <div class="choice_parameter">Junction</div>
            <input class="choice_input" type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="container"> <div class="choice_parameter">No_exit</div>
            <input class="choice_input" type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="container"> <div class="choice_parameter"> Railway</div>
            <input class="choice_input" type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="container"> <div class="choice_parameter">Roundabout</div>
            <input class="choice_input" type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="container"> <div class="choice_parameter">Station</div>
            <input class="choice_input" type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="container"> <div class="choice_parameter">Stop</div>
            <input class="choice_input" type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="container"> <div class="choice_parameter">Traffic_calming</div>
            <input class="choice_input" type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="container"> <div class="choice_parameter">Traffic_signal</div>
            <input class="choice_input" type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="container"> <div class="choice_parameter">Turning_loop</div>
            <input class="choice_input" type="checkbox">
            <span class="checkmark"></span>
        </label>

    </div>
    <button class="dropdown-btn">Others
        <i class="fa fa-caret-down"></i>
    </button>

    <div class="dropdown-container">
        <label class="container"> <div class="choice_parameter">Id</div>
            <input class="choice_input" type="checkbox"   >
            <span class="checkmark"></span>
        </label>
        <label class="container"> <div class="choice_parameter">Source</div>
            <input class="choice_input" type="checkbox" >
            <span class="checkmark"></span>
        </label>
        <label class="container"> <div class="choice_parameter">Tmc</div>
            <input class="choice_input" type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="container"> <div class="choice_parameter">Severity</div>
            <input class="choice_input" type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="container"> <div class="choice_parameter">Description</div>
            <input class="choice_input" type="checkbox">
            <span class="checkmark"></span>
        </label>
    </div>
</div>

<script src="../javascript/choicebar.js"></script>

</body>
</html>







