<div class="search-container">
    <select id="select">
        <option value="no data">no data</option>
    </select>
<!--    <div class="loader" id="loader"></div>-->
    <input  type="text" id="categoryInput" name="category">
    <input type="button" onclick="loadDoc('city','categoryInput','select','loader')" value="Search"/>
</div>