<!DOCTYPE html>
<html>
<head>
    <title>Hello</title>
    <link rel="stylesheet" type="text/css" href="stylesheet/searchSuggestions.css">
    <link rel="stylesheet" type="text/css" href="stylesheet/style.css">
    <script src="javascript/loadSuggestions.js"></script>
</head>
<body>
<%- include('map'); -%>
<h1>My First Heading</h1>

<p>My first paragraph.</p>

<h2> Dropdown: </h2>
<%- include('dropdownCategory'); -%>
</body>
</html>