<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKWEhbRSKA6_k2uA5f1jsHwV70nOmN-jk&callback=initMap&libraries=&v=weekly"
            defer>

    </script>
    <script src="../javascript/map/simpleMap.js"></script>
    <link rel="stylesheet" type="text/css" href="../../stylesheet/map/simpleMap.css">
    <link rel="stylesheet" type="text/css" href="stylesheet/style.css">
    <link rel="stylesheet" type="text/css" href="stylesheet/navbar.css">
    <link rel="stylesheet" type="text/css" href="stylesheet/footer.css">
</head>
<body>
<div class="wrapper">
    <header>
        <%- include('common/navbar');%>
    </header>
    <div class="wrapper-item">
        <div class="flex">
            <div class="flex-element-display">
                <a id="map-link"></a>
                <div id="map">
                </div>
                <div id="buttonDiv">
                    <button id="shotButton"></button>
                </div>

            </div>
        </div>
    </div>
    <footer>
        <%- include('common/footer'); -%>
    </footer>

</div>

</body>
</html>