<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Title</title>
    <link rel="stylesheet" href="../stylesheet/loginpage.css">

    <title> Dynamic DOM Elements </title>


    <style>

        .posts{

            width:80em;
            padding-left: 5em;

        }

        .paragraph-div {
            margin-top: 1em;

        }
        .div-resize {
            width:100%;
            height:40px;

        }
        .div-resize img {
            width:10em;
            height:10em;
            padding-left: 0.5em;
            padding-right: 0.5em;

            position:relative;
        }

        @media only screen and (max-width: 108em){
            .div-resize img {
                width:8em;
                height:8em;
                position:relative;
            }

        }

        .flex-container {

            flex-wrap: nowrap;
            display:flex;
            flex-direction: row;

        }




        .principal-flex-container{
            width:100%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items:center;

        }

        .principal-flex-container > div {

            padding-top: 2em;
            margin-top: 2em;
        }

        .ornamented-text-container{
            width:290px;
        }

        .ornamented-text-flex{

            display: inline;

        }
    </style>

</head>
<body>


<div style="width:100%;height: 30em; background-color: #fff2a8" class="background">

    <h1 style="color:antiquewhite; position:absolute;
    left:50%;
    top:10%;
    transform: translate(-50%,-50%);
    font-size: 130px;
">avi</h1>
</div>








<div id="DynamicContent">
    gghg
</div>

</body>
<script>
    var oContent = document.getElementById('DynamicContent');
    legatura();

    ///facem trimitere la baza de date -tabela: posts si extragem ultimele 5 postari si le afisam



    async function legatura() {

        ///mereu stergem tot ce era
        oContent.innerHTML="";

        //GET request- dorim optinerea posturilor din tabela
        var ok = await fetch("http://localhost:3000/api/start")
            .catch(error => console.log('error', error));


        console.log(ok);
        ok.json().then(x=> {
            let obj = x.data.rezultat;

            let description_div=document.createElement("div");
            let description_head=document.createElement("p");


            description_div.style.width="80em";
            description_div.style.position="relative";

            description_head.innerText="Car accidents occur every day in the United States.\n" +
                "Whether it is the drivers, the authorities, the pedestrians or the simple escapes of the senses, the accidents continue to take place with an alarming rate.\n" +
                "In order to learn from the mistakes of others, to study human behaviour or to satisfy simple morbid curiosities,\n" +
                " we present to you the AVI application - here to provide you with statistics, raw data, maps, a whole variety of methods to view all your interests.";

            description_head.style.textAlign="justify";
            description_head.style.textJustify="inter-word";
            description_div.appendChild(description_head);

            let div=document.createElement("div");
            div.style.width="95%";
            div.style.position="relative";


            ////welcome bridge
            let welcome_div=document.createElement("div");
            let welcome_head=document.createElement("h1");
            welcome_head.innerText="Welcome";
            welcome_div.padding="10px";
            welcome_head.padding="8px";

            let ornament1=document.createElement("img");
            ornament1.src="/images/Fine_Ornament_Black_L.png";
            let ornament2=document.createElement("img");
            ornament2.src="/images/Fine_Ornament_Black_R.png";
            ornament1.className="ornamented-text-flex";
            ornament2.className="ornamented-text-flex";
            welcome_head.className="ornamented-text-flex";


            welcome_div.appendChild(ornament1);
            welcome_div.appendChild(welcome_head);
            welcome_div.appendChild(ornament2);
            oContent.appendChild(welcome_div);

            welcome_div.className="ornamented-text-container";
            welcome_div.style.width="250px";
            welcome_div.style.paddingLeft="20px";




            oContent.appendChild(description_div);
            oContent.appendChild(welcome_div);
            oContent.appendChild(div);


            ////posts

            for(let post of obj)
            {
                console.log(post);

                let paragraph=document.createElement("p");
                paragraph.innerText=post;

                paragraph.style.padding="7px";
                paragraph.style.font="18px";
                let paragraph_div=document.createElement("div");

                paragraph_div.style.borderBottom="solid 2px #F5F5F5";

                paragraph_div.style.paddingTop="5px";

                paragraph_div.className="paragraph-div";

                paragraph_div.className="posts";


                paragraph_div.appendChild(paragraph);
                div.appendChild(paragraph_div);
            }



            ///life bridge
            let life_div=document.createElement("div");
            let life_head=document.createElement("h1");
            let ornament3=document.createElement("img");
            ornament3.src="/images/Fine_Ornament_Black_L.png";
            let ornament4=document.createElement("img");
            ornament4.src="/images/Fine_Ornament_Black_R.png";
            ornament3.className="ornamented-text-flex";
            ornament4.className="ornamented-text-flex";
            life_head.className="ornamented-text-flex";


            life_head.innerText="Life Matters";
            life_div.appendChild(life_head);
            life_div.padding="10px";
            life_head.padding="8px";

            life_div.appendChild(ornament3);
            life_div.appendChild(life_head);
            life_div.appendChild(ornament4);
            oContent.appendChild(life_div);

            life_div.className="ornamented-text-container";



            ///images

            let div_imgs = document.createElement("div");
            div_imgs.className="flex-container";



            for(var i=2;i<=10;i++) {
                let div_img1 = document.createElement("div");
                let img1 = document.createElement("img");
                img1.src = "/images/"+i+".jpg";

                div_img1.className="div-resize";

                div_img1.appendChild(img1);

                div_imgs.appendChild(div_img1);
            }

            oContent.className="principal-flex-container";
            oContent.appendChild(div_imgs);


        });
        //console.log(ok.success);
       // return ok.ok;
    }







</script>
</html>