<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <link rel="stylesheet" href="../stylesheet/loginpage.css">
    <link rel="stylesheet" type="text/css" href="../../stylesheet/home/startpage.css">

    <title> Home </title>

</head>
<body class="color-bkground">

<div class="background avi-container">
    <h1 class="avi">avi</h1>
</div>

<div id="DynamicContent">
</div>

<script src="../javascript/home/startpage.js"></script>
</body>
</html>