<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <link rel="stylesheet" href="../stylesheet/loginpage.css">
    <link rel="stylesheet" type="text/css" href="../../stylesheet/home/startpage.css">

    <link rel="stylesheet" type="text/css" href="stylesheet/style.css">
    <link rel="stylesheet" type="text/css" href="stylesheet/navbar.css">
    <link rel="stylesheet" type="text/css" href="stylesheet/footer.css">
    <link rel="stylesheet" type="text/css" href="stylesheet/columns_explained.css">
    <title> Home </title>

</head>
<body class="background">
<div class="wrapper">
    <header>
        <%- include('common/navbar');%>
    </header>
    <div class="wrapper-item">
        <div class="flex">
            <div class="flex-element-display">
                <div class="article-container">
                    <h1>Latest NEWS</h1>
                        <article id="latest-news" class="article-container-item">

                        </article>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <%- include('common/footer'); -%>
    </footer>

</div>

<script src="../javascript/home/startpage.js"></script>
</body>
</html>