<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../stylesheet/loginpage.css">

    <title> Dynamic DOM Elements </title>


</head>
<body>


<div style="width:100%;height: 30%; background-color: #fff2a8" class="background">
    <p style="width:100%;height: 300px;" >
    <h1 style="color:antiquewhite; position:absolute;
    left:50%;
    top:10%;
    transform: translate(-50%,-50%);
    font-size: 130px;
">avi</h1>
</div>


<div id="DynamicContent">
    gghg
</div>

</body>
<script>
    var oContent = document.getElementById('DynamicContent');
    //url pt pagina care furnizeaza asta
  //  var cURL     = 'http://localhost:3000/start'

    oContent.innerText='astrid';

   // oContent.innerText=;

    legatura();
    //console.log();


    ///facem trimitere la baza de date -tabela: posts si extragem ultimele 10 postari si le afisam



    async function legatura() {

        ///mereu stergem tot ce era
        oContent.innerHTML="";

        //GET request- dorim optinerea posturilor din tabela
        var ok = await fetch("http://localhost:3000/api/start")
            .catch(error => console.log('error', error));


        console.log(ok);
        ok.json().then(x=> {
           // console.log()
            let obj=JSON.parse(x.data.rezultat);

            for(let post of obj.posts)
            {
                console.log(post);

                let paragraf=document.createElement("p");
                paragraf.innerText=post;
                paragraf.style.color="red";
                oContent.appendChild(paragraf);
            }



        });
        //console.log(ok.success);
       // return ok.ok;
    }







</script>
</html>