<!DOCTYPE html>

<html lang="en" >
<link>
<meta charset="UTF-8">
<title>AVi - Table Representation</title>
<link rel="stylesheet" type="text/css" href="../stylesheet/TABEL_2.0.css">

</head>
<body>

<h2>Accidents</h2>

<div class="flex-container panel-body ">

<table>
    <thead >
<tr >
    <th >Id</th>
    <th >Source</th>
    <th>Severity </th>
    <th class="responssive-table">Start_time</th>
    <th class="responssive-table">End_time</th>
    <th class="responssive-table">City</th>
    <th class="responssive-table">County</th>
    <th class="responssive-table">State</th>
    <th class="responssive-table">Temperatures</th>
    <th class="responssive-table">Wind_chill</th>
    <th class="responssive-table">Humidity</th>
    <th class="responssive-table">Presure</th>
    <th class="responssive-table">Visibility</th>
    <th class="responssive-table">Precipitation</th>
    <th>Wind_speed</th>

</tr>
    </thead>
    <tbody>
<tr >
    <td>Peter</td>
    <td>Griffin</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
</tr>
    <tr >
        <td>Peter</td>
        <td>Griffin</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
    </tr>
    <tr>
        <td>Peter</td>
        <td>Griffin</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
    </tr>
    <tr>
        <td>Peter</td>
        <td>Griffin</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
    </tr>
    <tr>
        <td>Peter</td>
        <td>Griffin</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
    </tr>
    <tr>
        <td>Peter</td>
        <td>Griffin</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
    </tr>
    <tr>
        <td>Peter</td>
        <td>Griffin</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
    </tr>
    <tr>
        <td>Peter</td>
        <td>Griffin</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
    </tr>
    <tr>
        <td>Peter</td>
        <td>Griffin</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
    </tr>
    <tr>
        <td>Peter</td>
        <td>Griffin</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
    </tr>
    <tr>
        <td>Peter</td>
        <td>Griffin</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
    </tr>
    <tr>
        <td>Peter</td>
        <td>Griffin</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
    </tr>

    <tr>
        <td>Peter</td>
        <td>Griffin</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
    </tr>
<tr>
    <td>Lois</td>
    <td>Griffin</td>
    <td>$150</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
</tr>
<tr>
    <td>Joe</td>
    <td>Swanson</td>
    <td>$300</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
</tr>
<tr>
    <td>Cleveland</td>
    <td>Brown</td>
    <td>$250</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
</tr>
    </tbody>
</table>

</div>
</body>
</html>


